@import url("DreamHome-10.html.css");
Body {
	Background:url("Pictures/iStock-164473806.jpg")no-repeat center center fixed; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover; 
}